.statistical {
    display: flex;
    height: 97%;
    width: 97%;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
}

.title>h1 {
    margin-top: 30px;
    margin-left: 30px;
}


/* .wrapper {
    flex: 6;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
} */

.mainStatistical {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}



@media screen and (max-width: 1188px) {
    .mainStatistical {
        display: block;
    }
}

.row_statistic_first {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
}

.row_statistic_second {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
}

.grid-margin {
    margin-bottom: 25px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
    display: flex;
}

.card {
    /* border: none; */
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, .02);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.font-weight-semibold {
    font-weight: 600;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.text-primary {
    color: #2196f3 !important;
}

.row_statistic_first .column-5 {
    width: 33.3333%;
    border: 9px #000;
    background: #fff;
    padding: 14px;
}

.row_statistic_second .column-5 {
    width: 50%;
    margin-right: auto;
    border: 9px #000;
    background: #fff;
    padding: 14px;
}

.statis .icn {
    width: 40px;
    margin-top: 6px;
    margin-right: 10px;
}

.statis h5 {
    font-size: 20px;
}

.statistical .ip {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
}

.statistical .childForm {
    width: 180px;
}

.statistical form {
    display: flex;
    flex-wrap: wrap;
}

.statistical button {
    height: 30px;
    margin-top: 35px;
    margin-left: 20px;
}

.statistical .childForm {
    margin-left: 20px;
}

.statistical .btnChildForm {
    padding-left: 6px;
}