.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block; /* Hiện modal khi showModal = true */
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Chia layout thành 2 cột */
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
}

.modal-body img {
    width: 400px;
    object-fit: contain;
    margin-right: 20px;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-details p {
    margin: 0 0 10px;
}

.book-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}
