
.products {
    display: flex;
    height: 97%;
    width: 97%;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
}

.mainProduct {
    margin-top: 20px;
    
}

.addProduct {
    display: flex;
    width: 70%;
    justify-content:flex-start;
    margin-right: auto;
    margin-left: auto;
}

.addProduct > button {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: 0.5px solid lightgray;
}

.addProduct > button:hover {
    background: lightgray;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modelProduct, .overlayProduct {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
} 

.overlayProduct {
    background: rgba(49,49,49,0.8);
}
.modelProduct {
    animation: fadeIn ease-in 0.3s;
}

.contentProduct {
    transform: translate(-50%, -50%);
}

.row {
    margin-top: 10px;
}

label > input, label > select {
    border-radius: 10px;
    height: 40px;
    margin-top: 5px !important;
}

label > select {
    height: 40px;
    padding: 6px;
}

input[type="submit"] {
    float: right;
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 10px;
    height: 30px;
    background: rgb(190, 190, 190);
}

input.submit:hover {
    background: rgb(146, 146, 146);
}
.wrapper {
    flex: 6;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn_add {
    position: absolute;
    right: 60px;
    top: 26px;
}

.btn_add button {
    background-color: #a3d01aa6;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn_add button:hover {
    background-color: #1e293b;
    color: #fff;
}

.form_add_borrow {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin-top: -220px; 
    margin-left: -120px; 
    background-color: #ed8383;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px; */
    padding: 20px;
    width: 320px;
  }
  
.form_add_borrow .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 20px;
  }

.form_add_borrow button {
    margin-top: 30px;
}

.header_sloan {
    text-align: center;
}